@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,500,500i,700,700i|Raleway:400,400i,500,500i,700,700i&display=swap');

$font-primary: 'Lora',;
$font-secondary: 'Raleway', ;
$brown-color: brown;
$darkBrown-color:#4C3230;
$black:black;
$white:white;
$tq:#88FBED;
$ppl:#D9CBF4;
$shadow:#703DAB;
$grey:#909090;

body{
    
    background-color: $black;
    color:$white;
}

@mixin linx ($link, $visit, $hover, $active) {
    a {
    font: $font-secondary;
    color: $tq;

    &:visited {
        color: $tq;
    }

    &:hover {
        color: $ppl;   
    }
    &:active {
        color: $ppl;
    }
    }
}

@include linx($brown-color, $brown-color, purple, red);


//HOMEPAGE
h1 {
    font: 5rem $font-secondary;
    font-weight: bold;
    color: $tq;
    margin-right: 15%;
    filter: drop-shadow(4px 3px 0px $ppl);
}


h2{
    font: 250% $font-secondary;
    color: $white;
    font-weight: bold;
    margin-bottom: 5%;
    margin-left: 15%;
     
   
}


h4{
    font: 150% $font-primary;
}

p {
    font: 100% $font-secondary;
}


.hero{
    padding-bottom: 10%;
    // margin-bottom: 3%;
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;


      
      .logo {
          width: 6%;
          margin: 3% 3% 0 6%;
          
      }


      #navbarNav{
         margin: 3% 3% 0 -10px;
         font-size: 1.2rem;
      }
      
      .social {
          writing-mode: vertical-rl;
          text-orientation: mixed;
          transform-origin: 80 0;
          transform: rotate(360deg);
          margin-top: 30%;
          margin-left: 8%;
          font-size: 120%;
          img{
            margin-bottom: 20px;
            width: 20px;
          }
          
      }
      

    .tagline{
        font-size:200%;
        text-shadow: -1px 0 $white, 0 1px $white, 1px 0 $white, 0 -1px $white;
        margin-bottom: -50px;
        margin-top: -300px;
        color:black;
        font:$font-secondary;
        margin-right: 15%;
    }
    
    .typewrite{
        font:$font-primary;
        margin-top: 6%;
        margin-bottom:6%;
        margin-right: 15%;
        font-size:150%;
        color: $ppl;
    }

    .resume{
        text-decoration: underline;
        margin-right: 8%;
    }

   

}

.navbar-nav > li > .dropdown-menu { 
    background-color: black; 
    a{
        color:white;
        &:hover {
            color: $black;   
        }
        &:active {
            background-color: $tq;
        }
    }
}

.section1 {
    background-image: url(../images/bg1.png);
    background-repeat: no-repeat;
    padding-bottom: 10%;
    padding-top: 10%;
   

    .profilePic{
        margin-top: -5rem;
        width: 60%;
    }

    h2{
        margin-left: 15%;
        margin-top: 3%;
        font-size: 3rem;
       
    }

    p{
        font-size:1.3rem;
        margin: 0 15% 3% 22%;
    }

    .mail{
        text-decoration: underline;
        font-size:1rem;
    }

    .scroll{
        margin-top: 7rem;
    }

}

.section2{
    background-image: url(../images/bg2.png);
    background-repeat: no-repeat;


    .card{
        margin:3% 18% 2% 18%;
        border-color: black;

        .column-title{
            margin-top: 2rem  !important;
            margin-bottom: 2rem !important;
        }
        
        a {
            color: $white;
            text-decoration: none;
    
        }
    }

   
}

.latest{
    h4{
        font-size: 30px;
        margin:10% 15% 0 16%;
    }

    #api{
        margin: 5% 10% 5% 20%;
    }

    #api :hover{
        box-shadow: 0 0 100px $shadow; 
    }

    #api>img {
        width: 200px;
        margin-left: 20px;
        margin-bottom: 20px;
    }
    
    #api>video{
        width: 250px;
        margin-left: 20px;
        margin-bottom: 20px;
    }
}

.section3{
    background-image: url(../images/bg3.png);
    background-repeat: no-repeat;
    padding-bottom: 10%;

    h2{
        margin-top: 10%;
        padding-top: 10%;
    }

   .publish{
        margin: 3% 15% 5% 18%;
   }
   

}

.section4{
    background-image: url(../images/bg4.png);
    background-repeat: no-repeat;

    .carousel{
        margin: 5% 30% 15% 30%;
    }

     .carousel :hover {
        box-shadow: 0 0 100px $shadow; 
    }

    .carousel-item :hover{
        box-shadow: unset;
    }

    .carousel-caption{
        position: relative;
        left:0;
        bottom:0;
        right:0;
    }

}

.card :hover {
    box-shadow: 0 0 100px $shadow; 
}

.card-title :hover {
    box-shadow: none ; 
}

// .sticky {
//   position: fixed;
//   top: 0;
//   width: 100%;
// }



//PLANT ME
h3 {
    font: 350% $font-secondary;
    font-weight: bold;
    color: $tq;
    filter: drop-shadow(4px 3px 0px $ppl);
}

h5{
    font: 1.5rem $font-secondary;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
    color: $ppl;
}

.subHeader{
    margin-top: -580px;
    margin-left: 15%;
    margin-bottom: 40px;
}

.gif{
    width: 430px;
   
}

.overview{
    margin-left:15%;
    margin-right:10%;
    p{
        font-size: 1.2rem;
    }
}

.writeup{
    margin-top: 180px;
}

.psection1{
    background-image: url(../images/bgp1.png);
    background-repeat: no-repeat;
    padding-bottom: 80px;
    
    .row{
        margin-left: 15%;
        margin-right: 10%;
        .table{
            margin-top: 30px;
        }
        .list{
            list-style-type: none;
            margin: 0;
            padding: 0;
            font: 1.5rem $font-primary;
            color:white;
        }
    }
}

.psection2{
    margin-left: 15%;
    margin-right: 10%;
    margin-top: 8%;
    margin-bottom: 5%;
    
    h5{
        margin-bottom: 10%;
    }

    p{
        font: 1.5rem $font-primary;
        color: $grey;
    }

}

.psection3{
    margin-left: 15%;
    margin-right: 10%;
    margin-top: 8%;
    margin-bottom: 5%;
    
    h5{
        margin-bottom: 10%;
    }

    img{
        width: 500px;
    }

    p{
        font: 1.3rem $font-secondary;
    }

}


.psection4{
    margin-left: 15%;
    margin-right: 10%;
    margin-top: 8%;
    margin-bottom: 10%;
    
    h5{
        margin-bottom: 5%;
    }

    p{
        font: 1.8rem $font-primary;
        color:$tq;
        margin-left:20%;
        margin-right:20%;
    }

    

}

.psection5{
    background-image: url(../images/bgp5.png);
    background-repeat: no-repeat;
    padding-bottom: 10px;
    .row{
        margin-left: 15%;
        margin-right: 10%;
        margin-top: 8%;
        margin-bottom: 5%;
    }
    
    h5{
        margin-bottom: 10%;
    }

    img{
        width: 700px;
    }

    p{
        font: 1.3rem $font-secondary;
    }

}

.psection6{
    margin-left: 15%;
    margin-right: 10%;
    margin-top: 8%;
    margin-bottom: 5%;
    
    h5{
        margin-bottom: 10%;
    }

    img{
        width: 500px;
    }

    p{
        font: 1.3rem $font-secondary;
    }

}

.psection7{
    margin-left: 15%;
    margin-right: 10%;
    margin-top: 8%;
    margin-bottom: 10%;
    
    h5{
        margin-bottom: 5%;
    }

    p{
        font: 1.8rem $font-primary;
        color:$grey;
        margin-left:20%;
        margin-right:20%;
    }

}

.psection8{
    background-image: url(../images/bgp5.png);
    background-repeat: no-repeat;
    padding-bottom: 10px;
    .row{
        margin-left: 15%;
        margin-right: 10%;
        margin-top: 8%;
        margin-bottom: 5%;
    }
    
    h5{
        margin-bottom: 10%;
    }

    img{
        width: 400px;
    }

    p{
        font: 1.3rem $font-secondary;
    }

}

.psection9{
    margin-left: 15%;
    margin-right: 10%;
    margin-top: 8%;
    margin-bottom: 10%;
    
    h5{
        margin-bottom: 5%;
    }

    .carousel{
        width: 500px;
        margin-left: 20%;
        margin-right: 20%;
    }

}

.psection10{
    margin-left: 15%;
    margin-right: 10%;
    margin-top: 8%;
    margin-bottom: 10%;
    
    h5{
        margin-bottom: 5%;
    }

    ul.horizontal-slide {
        margin:0;
        padding: 0;
        width: 100%;
        white-space: nowrap;
        overflow-x: auto;
    }
    
    ul.horizontal-slide li[class*="col"] {
        display: inline-block;
        float: none;
        margin-top: 0;
        margin-right: 13vw;
        vertical-align: top;
        img{
            width:23vw;
        }
    }
    
    ul.horizontal-slide li[class*="col"]:first-child {
        margin-left: 0;
    }

}

.related{
    margin-left: 15%;
    margin-right: 10%;
    margin-top: 15%;
    margin-bottom: 10%;

    img{
        margin-top: 5%;
    }
    
    h5{
        margin-bottom: 5%;
        color: $tq;
    }

}

//Dyson
.dsection8{
    margin-left: 15%;
    margin-right: 10%;
    margin-top: 8%;
    margin-bottom: 10%;

    ul.horizontal-slide {
        margin:0;
        padding: 0;
        width: 100%;
        white-space: nowrap;
        overflow-x: auto;
        
    }
    
    ul.horizontal-slide li[class*="col"] {
        display: inline-block;
        float: none;
        margin-top: 0;
        margin-right: 40vw;
        vertical-align: top;
        img{
            width: 50vw;
        }
    }
    
    ul.horizontal-slide li[class*="col"]:first-child {
        margin-left: 0;
    }

    .version{
        font-size: 2rem;
        margin-top: 100px;
        margin-bottom:50px;
    }

}

.iphone{
    width: 300px;
}

//Bean & Barista
.bsection3{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 8%;
    margin-bottom: 10%;
    img {
        margin: 3vh 15% 0 10%;
    }
    p{
        font: 1.3rem $font-secondary;
    }
}

.bsection4 {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 8%;
    margin-bottom: 10%;
    img {
        margin: 3vh 35% 0 30%;
    }
    p{
        font: 1.8rem $font-primary;
        color:$tq;
        
    }
}

.bsection5 {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 8%;
    margin-bottom: 10%;
    img {
        margin: 3vh 10% 0 0;
    }
    p{
        font: 1.3rem $font-secondary;
    }
}


.bsection10 {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 8%;
    margin-bottom: 10%;
    video{
        margin: 0 15% 0 15%;
    }
}

//Contact
.contact{
    margin-top: -650px;
    margin-left: 15%;
    margin-right: 5%;
    margin-bottom: 5%;
}

//Request
.request{
    margin-left: 12%;
    margin-right: 5%;
    margin-bottom: 10%;
}

.box-title{
    border-radius: 5px;
    box-shadow: 0px 0px 3px 1px gray;
    padding: 10px 0px;
}
.error-msg{
    color: #dc3545;
    font-weight: 600;
}
.success-msg{
    color: green;
    font-weight: 600;
}