@media (max-width: 768px) {
  .hero {
    margin-bottom: 15%;
  }
  .hero h1 {
    font-size: 4rem;
    margin-right: 8%;
    margin-left: 10%;
  }
  .hero .logo {
    width: 18%;
    margin: 10% 3% 0 6%;
  }
  .hero .social {
    margin-top: 60%;
  }
  .hero .navigation {
    margin-top: 10%;
    font-size: 100%;
  }
  .hero .tagline {
    margin-top: -400px;
    font-size: 150%;
    margin-right: 8%;
  }
  .hero .typewrite {
    font-size: 130%;
    margin-left: 20%;
    margin-right: 8%;
  }
  .hero .resume {
    margin-right: 4%;
    font-size: 110%;
  }
  .section1 {
    background-size: cover;
  }
  .section1 h2 {
    margin-top: 20%;
    font-size: 2rem;
  }
  .section1 .profilePic {
    margin-top: 40px;
    width: 50%;
    margin-left: 20%;
  }
  .section1 p {
    font-size: 1.1rem;
  }
  .section2 h2 {
    margin-top: 20%;
    font-size: 2rem;
  }
  .section2 .card {
    margin: 3% 10% 2% 10%;
  }
  .section2 .column-title {
    font-size: 1.5rem;
  }
  .section2 h4 {
    font-size: 30px;
  }
  .section2 #api {
    margin: 5% 10% 5% 10%;
  }
  .section2 #api > img {
    width: 130px;
  }
  .section3 {
    background-size: cover;
  }
  .section4 .carousel {
    margin: 5% 10% 30% 10%;
  }
  .sticky {
    position: relative;
  }
  .subHeader {
    margin-top: -500px;
    margin-left: 28%;
    margin-bottom: 20px;
  }
  .gif {
    width: 250px;
    margin-left: 15%;
    margin-bottom: 30px;
  }
  .writeup {
    margin-top: 40px;
  }
  .psection1 {
    background-size: cover;
  }
  .psection1 .row {
    margin-top: -10%;
  }
  .psection4 p {
    margin-left: 0;
    margin-right: 10%;
  }
  .psection5 .row {
    margin-left: 10%;
  }
  .psection7 p {
    margin-left: 0;
    margin-right: 10%;
  }
  .psection8 .row {
    margin-left: 10%;
  }
  .psection9 {
    margin-left: 10%;
    margin-right: 5%;
  }
  .psection9 .carousel {
    width: 80%;
    margin: 5% 10% 15% 5%;
  }
  .psection10 .container {
    margin-left: -20px;
  }
  .psection10 ul.horizontal-slide li[class*="col"] {
    margin-right: 13vw;
  }
  .psection10 ul.horizontal-slide li[class*="col"] img {
    width: 70vw;
  }
  .dysonHero h3 {
    font-size: 2.5rem;
  }
  .dsection8 {
    margin-left: 10%;
  }
  .dsection8 ul.horizontal-slide li[class*="col"] {
    margin-right: 13vw;
  }
  .dsection8 ul.horizontal-slide li[class*="col"] img {
    width: 75vw;
  }
  .bsection4 img, .bsection3 img {
    margin: 0;
  }
  .bsection10 {
    margin-top: 25%;
  }
  .bsection10 video {
    width: 280px;
    height: 250px;
    margin: 0;
  }
  .contact {
    margin-top: -520px;
  }
}

@media (max-width: 375px) {
  .hero {
    background-size: cover;
  }
  .hero h1 {
    font-size: 3.5rem;
  }
  .hero .social {
    margin-top: 80%;
  }
  .hero .navigation {
    margin-top: 10%;
    font-size: 100%;
  }
  .hero .tagline {
    margin-top: -250px;
    font-size: 130%;
  }
  .hero .typewrite {
    font-size: 110%;
    margin-left: 25%;
  }
  .hero .resume {
    margin-right: 4%;
    font-size: 100%;
  }
  .contact {
    margin-right: 5%;
  }
  .contact h1 {
    margin-top: 100px;
    margin-left: 0px;
  }
}
/*# sourceMappingURL=responsive.css.map */